<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Catch-All</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>

    <!--select2 CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

   <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/wiz.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/dis.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
    
    

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.4.1/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/wiz.js"></script>
    <script src="js/pace.min.js"></script>
    

    

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="js/main.js"></script>

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="/home">
                <img src="images/logotf.png" alt="Homepage">
            </a>
        </div>


    </header> <!-- end s-header -->

    <!-- search results
    ================================================== -->
    <div class="container-fluid s-search">
        <div class="intro-wrap" style="background-color: #fff;">
                 <!-- end section-header -->
                <div class="row row-cols-5 card text-center" style="padding: 3rem; padding-top:4rem;">
                    <div class="col-sm">
                        <button style="height:7rem" onclick="javascript:window.location.href='/home#weedid'" style="line-height: normal" class="btn-block btn-primary mt-3 mb-1 next mt-4">Back</button>
                    </div>
                    <div class="col-sm">
                        
                        <!-- Multiselect dropdown -->
                        <label class="select-label">Growth Form(5)</label>
                        <select id="growth" multiple class="js-example-basic-multiple" placeholder="Select a growth form">
                            <option value="Shrub" <%= c1s %>>Shrub</option>
                            <option value="Herb" <%= c2s %>>Herb</option>
                            <option value="Grass" <%= c3s %>>Grass</option>
                            <option value="Tree" <%= c4s %>>Tree</option>
                            <option value="Aquatic" <%= c5s %>>Aquatic</option>
                        </select>
                    </div>
                    <div class="col-sm">
                        
                        <!-- Multiselect dropdown -->
                        <label class="select-label">Leaf Arrangement(4)</label>
                        <select id="leafa" multiple class="js-example-basic-multiple" placeholder="Select a leaf arrangement">
                            <option value="Basal" <%= d1s %>>Basal</option>
                            <option value="Whorled" <%= d2s %>>Whorled</option>
                            <option value="Alternate" <%= d3s %>>Alternate</option>
                            <option value="Opposite" <%= d4s %>>Opposite</option>
                        </select>
                    </div>
                    <div class="col-sm">
                        
                        <!-- Multiselect dropdown -->
                        <label class="select-label">Leaf Form/Shape(2)</label>
                        <select id="leaff" multiple class="js-example-basic-multiple" placeholder="Select a leaf form">
                            <option value="Compound" <%= e1s %>>Compound</option>
                            <option value="Simple" <%= e2s %>>Simple</option>
                        </select>
                    </div>
                    <div class="col-sm">
                        
                        <!-- Multiselect dropdown -->
                        <button style="height:7rem" 
                        onclick="javascript:window.location.href='/db2?c1='+$('#growth').val()[0]+'&c2='+$('#growth').val()[1]+'&c3='+$('#growth').val()[2]+'&c4='+$('#growth').val()[3]+'&c5='+$('#growth').val()[4]+'&d1='+$('#leafa').val()[0]+'&d2='+$('#leafa').val()[1]+'&d3='+$('#leafa').val()[2]+'&d4='+$('#leafa').val()[3]+'&e1='+$('#leaff').val()[0]+'&e2='+$('#leaff').val()[1]" style="line-height: normal" class="btn-block btn-primary mt-3 mb-1 next mt-4">SEARCH</button>
                    </div>
                </div>
                <div class="row text-center" style="margin-top:3rem">
                    <p class="sub-desc" style="font-size:5rem;"><%= num %> Results</p>
                </div>
                <% results.forEach(function(r) { %>
                <div class="row">
                    <div class="card text-center w-100">
                        <div class="row">
                            <div class="col-sm">
                                <div class="image-icon"> <img class="icon icon1 fit-image" src="images-db/weeds/<%= r.common_name %>.jpg"> </div>
                            </div>
                            <div class="col-sm text-left">
                                <p class="sub-desc"><span style="font-weight:bold;">Name: </span> <%= r.common_name %></p>
                                <p class="sub-desc"><span style="font-weight:bold;">Scientific Name: </span></p>
                                <p class="sub-desc"><%= r.scientific_name %></p>
                                
                            </div>
                            <div class="col-sm text-left">
                                <p class="sub-desc"><span style="font-weight:bold;">Growth Form: </span><%= r.growth_form %></p>
                                <p class="sub-desc"><span style="font-weight:bold;">Leaf Arrangment: </span><%= r.leaf_arrangement %></p>
                                <p class="sub-desc"><span style="font-weight:bold;">Leaf Form: </span><%= r.leaf_form %></p>
                            </div>
                            <div class="col-sm text-left">
                                <p class="sub-desc"><span style="font-weight:bold;">A Weed Of National Significance: </span></p>
                                <p class="sub-desc"><%= r.wons %></p>
                                <p class="sub-desc"><span style="font-weight:bold;">Regulation type: </span></p>
                                <p class="sub-desc"><%= r.regulation_type %></p>
                            </div>
                            <div class="col-sm text-left">
                                
                            </div>
                        </div>            
                        <div class="card card-body"><h6>Control Measures</h6>
                            <%= r.control_measures %>
                        </div>
                    </div>
                </div>
                <% }); %>
            <!-- end intro-wrap --> 
        </div>
    </div>
    <!--Reference to jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!--select2 JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#reset").click(function (e) {
                location.reload();
            });

            //select2 code
            $('.js-example-basic-multiple').select2();
            $("#div1 #fetchValue").click(function (e) {
                alert($("#state1").val());
            });
            $("#div1 #setValue").click(function (e) {
                $("#state1").val(["FL", "UT"]).trigger("change");
            });
        });
    </script>

    <!-- end results -->


     <!-- footer
    ================================================== -->
     <footer>
        <div class="row footer-main">
            <div  class="footer-logo"></div>
            <div class="footer-desc">

            </div>
        </div> <!-- end footer-main -->

         <div class="col-twelve">
            <div class="copyright">
                <span>© Copyright Catch-All 2020</span> 
                    
            </div>
        </div>
         
        <a href="#modalstem" role="button" data-toggle="modal">Disclaimer</a>
                        <!-- Scrollable Modal HTML -->
                        <div id="modalstem" class="modal fade" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Disclaimer</h3>
                                    </div>
                                    <div class="modal-body">
                                        <p style="color: black; text-align: left;">
                                            The information contained on this website is for reference purposes only. RAD Trip Co. has taken reasonable steps to verify the legitimacy of the same.<br><br> 
                                            The Weed-Catch tool is supported by the information provided by the North Central CMA’s Weed Identification Guide. The website also has links to other sites and the information provided on these external sites is not under the control of RAD Trip Co.<br><br>
                                            RAD Trip Co. expects that all the users that access this website take the responsibility for accessing the accuracy, reliability and currency of the content.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end footer-bottom -->

    </footer> 
</body>
</html>

